body {
  background-image: radial-gradient(red, green, blue);
  display: inline-block;
  background-repeat: no-repeat;
}

#flag {
  background-color: blue;
  width: 120vh;
  height: 30vh;
  border-spacing: 0vh;
  border: 0.6vh solid;
  border-color: black;
}

#starcell {
  padding: 0.2vh;
  width: 45vh;

}
#stars {
  letter-spacing:1.5vh;
  padding: 0.7vh;
  color: white;
  font-size: 2.5vh;
}
.red_stripe {
  background-color:rgb(255, 22, 10);  
  height:4.5vh;
}
.white_stripe {
  background-color:rgb(255, 255, 255);
  height:4.5vh;
}



.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.item {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}



#boardposition {
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-image: linear-gradient(red, yellow);
  width: 900px;
  height: 900px;
  border: 2px solid black;
  
}

.checkerows {
  display: flex;
  justify-content: center;
}


#row1 {
  margin-top: 45px;
}

.black {
  background-color: black;  
  width: 100px;
  height: 100px;
}

.white {
  background-color: white;
  width: 100px;
  height: 100px;
}
